@import "scss/utils";

.dates_circle_layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -67px;
  @include thousandTwoWidth {
    margin-top: -50px;
  }
  @include phoneOrTablet {
    margin-top: 0;
  }
  & > hr {
    height: 1px;
    max-width: 1440px;
    width: 100vw;
    position: absolute;
    top: 50%;
    bottom: 50%;
    background-color: #42567A;
    opacity: 0.1;
    z-index: -9999;
    @include phoneOrTablet {
      display: none;
    }
  }
}

.circle_wrapper {
  width: 530px;
  height: 530px;
  position: relative;
  rotate: 0;
  transition: 1s rotate ease-in-out;
  &  circle {
    z-index: -1;
  }
  @include phoneOrTablet {
    display: none;
  }
}

.vertical_line {
  width: 1px;
  position: absolute;
  right: 50%;
  left: 50%;

}

.number_bg_default {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #F4F5F9;
  border: 1px solid rgba(48, 62, 88, 0.5);
}

.circle_dot {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  opacity: 0;
  transition: 1s rotate ease-in-out;
  color: transparent;
  @include PT_SANSRegular(20px);
  & p {
    z-index: 10;
  }
  &[data-isselected='true'] {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #42567A;
    border: 1px solid black;
    & .number_bg {
      @extend .number_bg_default;
    }
  }
  &:hover {
    color: #42567A;
    cursor: pointer;
    .number_bg {
      @extend .number_bg_default
    }
  }
}

.el_title {
  position: absolute;
  right: -65px;
  left: 65px;
}

.number_bg {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #42567A;
  transition: all .35s ease-in-out;
  z-index: 5;
  will-change: width, height, background;
}